{
    "swagger": "2.0",
    "info":
    {
        "description": "This is a mixed bag of various data domains that started with site management, but now includes management of entities such as inventory groups, kvs, signals, slot corrections, etc. Refer to routes for available features.",
        "title": "Dayparting API routes",
        "contact":
        {},
        "license":
        {
            "name": "Proprietary"
        },
        "version": "1.55.21"
    },
    "host": "app.indexexchange.com",
    "basePath": "/api/supply-configuration",
    "paths":
    {
        "/v2/inventory-groups/{inventoryGroupID}/targets/schedules":
        {
            "post":
            {
                "description": "Creates a new schedule and links it to the specified `dealSpecificInventoryGroupID`. <br><b> IMPORTANT!</b> Make a note of the schedule ID that is returned in the response. Currently, there is no way to return a schedule ID, which is needed if you want to delete or edit the schedule.",
                "consumes":
                [
                    "application/json"
                ],
                "produces":
                [
                    "application/json"
                ],
                "tags":
                [
                    "Schedule management"
                ],
                "summary": "Create a schedule for a deal ",
                "security":
                [
                    {
                        "BearerAuth":
                        []
                    }
                ],
                "parameters":
                [
                    {
                        "type": "integer",
                        "description": "The `dealSpecificInventoryGroupID` of the deal you want to apply the schedule to. To get a `dealSpecificInventoryGroupID`, run the [Get direct deal settings route](getdealbyidv2) for publisher direct deals or the [Get deal settings route](getv2dealbyid) for Marketplace Packages or Deals with Marketplaces.",
                        "name": "inventoryGroupID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Schedule definition",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema":
                        {
                            "$ref": "#/definitions/schedules.ScheduleRequest"
                        }
                    }
                ],
                "responses":
                {
                    "201":
                    {
                        "description": "Schedule created",
                        "schema":
                        {
                            "$ref": "#/definitions/schedules.CreateScheduleResponse"
                        }
                    },
                    "400":
                    {
                        "description": "Invalid input",
                        "schema":
                        {
                            "$ref": "#/definitions/responses.ClientError"
                        }
                    },
                    "404":
                    {
                        "description": "Inventory group not found",
                        "schema":
                        {
                            "$ref": "#/definitions/responses.ClientError"
                        }
                    },
                    "409":
                    {
                        "description": "Schedule already exists",
                        "schema":
                        {
                            "$ref": "#/definitions/responses.ConflictError"
                        }
                    },
                    "500":
                    {
                        "description": "Internal server error",
                        "schema":
                        {
                            "$ref": "#/definitions/responses.ServiceError"
                        }
                    }
                }
            }
        }
    },
    "definitions":
    {
        "gitlab_indexexchange_com_app_phoenix_api_supply-configuration-api_internal_inventory-groups.Operation":
        {
            "type": "object",
            "required":
            [
                "op",
                "path",
                "value"
            ],
            "properties":
            {
                "op":
                {
                    "description": "The operation that you need to perform which should always be`replace`.",
                    "type": "string",
                    "enum":
                    [
                        "replace"
                    ],
                    "example": "replace"
                },
                "path":
                {
                    "description": "The information that you want to update in `/path` format for a targeting key. For example, to update the name of the targeting key, you would specify `/key`.",
                    "type": "string",
                    "enum":
                    [
                        "/name",
                        "/targeting",
                        "/legacyTargeting/siteIDs",
                        "/key",
                        "/targetingKeyActivationTypeID",
                        "/description",
                        "/status",
                        "/value",
                        "/label",
                        "/location",
                        "/locationID"
                    ],
                    "example": "/key"
                },
                "value":
                {
                    "description": "The update that you need to perform. For example,  if you are updating the name of the targeting `key` from `mobile` to `mobile app`, you would specify `mobile app` here.",
                    "type": "string",
                    "example": "mobile app"
                }
            }
        },
        "gitlab_indexexchange_com_app_phoenix_api_supply-configuration-api_internal_inventory-groups.PatchBodyParams":
        {
            "type": "object",
            "required":
            [
                "operations"
            ],
            "properties":
            {
                "operations":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/gitlab_indexexchange_com_app_phoenix_api_supply-configuration-api_internal_inventory-groups.Operation"
                    }
                }
            }
        },
        "gitlab_indexexchange_com_app_phoenix_api_supply-configuration-api_internal_sites.Operation":
        {
            "type": "object",
            "required":
            [
                "op",
                "path",
                "value"
            ],
            "properties":
            {
                "op":
                {
                    "description": "The operation that you need to perform on the site ID which should always be **replace**.",
                    "type": "string",
                    "enum":
                    [
                        "replace"
                    ],
                    "example": "replace"
                },
                "path":
                {
                    "description": "The information that you need to update in `/path` format. For example, to update the site ID name, you can specify `/name`. You can update the following: /name, /description, /iabCategory/id, /isCoppaCompliant, /hasUserDataCollection, and /isActive.",
                    "type": "string",
                    "enum":
                    [
                        "/name",
                        "/description",
                        "/iabCategory/id",
                        "/isCoppaCompliant",
                        "/hasUserDataCollection",
                        "/isActive"
                    ],
                    "example": "/name"
                },
                "value":
                {
                    "description": "The message that you want to include in your update request. This is typically the update that you made to the site ID.",
                    "type": "string",
                    "example": "Updated site name"
                }
            }
        },
        "gitlab_indexexchange_com_app_phoenix_api_supply-configuration-api_internal_sites.PatchBodyParams":
        {
            "type": "object",
            "required":
            [
                "operations"
            ],
            "properties":
            {
                "operations":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/gitlab_indexexchange_com_app_phoenix_api_supply-configuration-api_internal_sites.Operation"
                    }
                }
            }
        },
        "handler.PatchInventoryGroupOperation":
        {
            "type": "object",
            "required":
            [
                "op",
                "path",
                "value"
            ],
            "properties":
            {
                "op":
                {
                    "description": "The operation that you need to perform which should be either \"add\", \"replace\" or \"remove_by_value\"",
                    "type": "string",
                    "enum":
                    [
                        "replace",
                        "add",
                        "remove_by_value"
                    ],
                    "example": "replace"
                },
                "path":
                {
                    "description": "The information that you want to update in `/path` format for an inventory group. For example, to update the site IDs in an inventory group, you would specify `/legacyTargeting/siteIDs`. You can update the following values for an inventory group:</br>`/targeting` </br>`/legacyTargeting/siteIDs`</br>`/name`",
                    "type": "string",
                    "enum":
                    [
                        "/name",
                        "/targeting",
                        "/targeting/valueIDs",
                        "/targeting/excludedValueIDs",
                        "/targeting/siteIDs",
                        "/targeting/segmentIDs",
                        "/targeting/publisherIDs",
                        "/targeting/segmentTargetingSets",
                        "/targeting/internalDealIDs",
                        "/legacyTargeting/siteIDs",
                        "/targeting/schedules"
                    ],
                    "example": "/targeting/valueIDs"
                },
                "value":
                {
                    "description": "The update that you need to perform. For example, if you are updating the siteIDs for an inventory group, you would specify the new siteIDs that you want to replace, such as `[1243, 1235]`.",
                    "type": "string"
                }
            }
        },
        "handler.PatchInventoryGroupPatchBodyParams":
        {
            "type": "object",
            "required":
            [
                "operations"
            ],
            "properties":
            {
                "operations":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/handler.PatchInventoryGroupOperation"
                    }
                }
            }
        },
        "models.CopyBlocksRequest":
        {
            "type": "object",
            "required":
            [
                "siteIDs"
            ],
            "properties":
            {
                "siteIDs":
                {
                    "description": "The site IDs where the blocks should be copied. You can enter one or more site IDs. To find the site IDs, run the [List site IDs](https://api1.indexexchange.com/api1/reference/sitesget) route. The `siteID` field in the response is the ID that you require.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    },
                    "example":
                    [
                        99900,
                        99901
                    ]
                }
            }
        },
        "models.CreateInventoryGroupsBody":
        {
            "type": "object",
            "required":
            [
                "name",
                "publisherAccountID",
                "type"
            ],
            "properties":
            {
                "excludedTargetingIDs":
                {
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "legacyTargeting":
                {
                    "$ref": "#/definitions/models.LegacyTargeting"
                },
                "name":
                {
                    "description": "The name of the inventory group.",
                    "type": "string",
                    "example": "Test IG"
                },
                "publisherAccountID":
                {
                    "description": "The publisher account ID associated with the inventory group. To find the account ID, log in to your Index UI account. The account ID is displayed in the top-left corner of the page under the company name.",
                    "type": "integer",
                    "example": 182881
                },
                "segmentTargetingSets":
                {
                    "description": "Sets of segment IDs associated with this `inventoryGroupID`",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.SegmentTargetingSet"
                    }
                },
                "targeting":
                {
                    "description": "The targeting valueIDs associated with this `inventoryGroupID`",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingInternalDealIDs":
                {
                    "description": "The IDs of the participant deals associated with this `inventoryGroupID`",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingPublisherIDs":
                {
                    "description": "The IDs of the publishers associated with this `inventoryGroupID`",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingSchedules":
                {
                    "description": "The list of targeting schedules associated with this `inventoryGroupID`.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/schedules.TargetingSchedule"
                    }
                },
                "targetingSegmentIDs":
                {
                    "description": "The IDs of the segments associated with this `inventoryGroupID`",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingSiteIDs":
                {
                    "description": "The IDs of the sites associated with this `inventoryGroupID`",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "type":
                {
                    "description": "The inventory group type, where:<br> `Deal Specific` = Inventory groups with deal-specific targeting used in the backend as a targeting association to a publisher deal <br> `General` = Inventory groups associated with site IDs. Used in publisher deals. <br> `Preset` = Inventory groups that are used as a preset. Used in publisher deals.<br> Data Provider Traffic Targeting = Inventory groups that are used for data provider traffic targeting in the backend<br>`List` = A targeting list of publisher IDs, Deal with Marketplaces IDs, or domains. Used in Marketplace Packages.",
                    "type": "string",
                    "enum":
                    [
                        "Deal Specific",
                        "General",
                        "Blocking Set",
                        "Preset",
                        "Slot Request Correction",
                        "Data Provider Traffic Targeting",
                        "List"
                    ],
                    "example": "General"
                }
            }
        },
        "models.CreateInventoryGroupsResponse":
        {
            "type": "object",
            "properties":
            {
                "inventoryGroupID":
                {
                    "description": "The unique identifier of the inventory group.",
                    "type": "integer",
                    "example": 123
                },
                "message":
                {
                    "description": "error message for error responses",
                    "type": "string"
                }
            }
        },
        "models.DealTargeting":
        {
            "type": "object",
            "properties":
            {
                "dealClasses":
                {
                    "description": "The class ID for the deal, where: <br>`1` = direct deal <br> `2` = platform deal <br>`3` = Inventory Package <br>`4` = Marketplace Package <br> `5` = Deal with Marketplaces",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    },
                    "example":
                    [
                        3
                    ]
                }
            }
        },
        "models.DeleteRequest":
        {
            "type": "object",
            "properties":
            {
                "siteIDs":
                {
                    "description": "The site IDs that you want to delete. To find the site IDs, run the [List site IDs](https://api1.indexexchange.com/api1/reference/sitesget) route. The `siteID` field in the response is the ID that you require.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    },
                    "example":
                    [
                        99900
                    ]
                }
            }
        },
        "models.GetCategoriesResponse":
        {
            "type": "object",
            "properties":
            {
                "data":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/repository.IABCategory"
                    }
                },
                "totalCount":
                {
                    "description": "The total number of categories that are included in the request.",
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.GetInventoryGroupTargeting":
        {
            "type": "object",
            "properties":
            {
                "allowCustomValues":
                {
                    "description": "Custom targeting values can be created for a targeting key, where:</br>`true`= custom targeting values can be created. If custom targeting keys are being created, this should always be set to `true`.</br>`false`= custom targeting values cannot be created.",
                    "type": "boolean"
                },
                "createdDate":
                {
                    "description": "The date that the key was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "description":
                {
                    "description": "A user-friendly description of the key, which typically describes its purpose.",
                    "type": "string",
                    "example": "Types of browsers to target"
                },
                "isCustom":
                {
                    "description": "The status of the custom targeting key. </br>`true` = This is a custom key created by the publisher. It can be edited using any relevant routes.</br>`false`= This is a standard key created by Index. It can be associated with inventory groups but is otherwise read-only.",
                    "type": "boolean"
                },
                "key":
                {
                    "description": "The name of the targeting value associated with a targeting key.",
                    "type": "string",
                    "example": "Browser"
                },
                "modifiedDate":
                {
                    "description": "The date that the key was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "status":
                {
                    "description": "The **State** of the key which indicates its status, which could be **Active** or **Inactive**, where:</br>`A` = **Active** state. This means that the key is considered valid and can be associated to an Inventory Group.</br>`P`= **Inactive** state. This means that the key is not considerd valid to be associated to Inventory Groups, but existing associations are not removed.",
                    "type": "string",
                    "example": "A"
                },
                "targetingKeyActivationTypeID":
                {
                    "description": "The identifier representing which targeting key activation type is required. </br>`1` = Inclusion Only.</br>`2` = Inclusion or Exclusion.</br>`3` = Inclusion and Exclusion.",
                    "type": "integer",
                    "example": 1
                },
                "targetingKeyID":
                {
                    "description": "The unique identifier for the targeting key.</br><b>Note</b>: A custom targeting key can also be identified uniquely by associating the `publisherID` with the `key`. For example, `281923`/`\"MyCustomTargetingkey\"`.",
                    "type": "integer",
                    "example": 123
                },
                "values":
                {
                    "description": "An array of targeting values mapped to the `targetingKeyID`.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.GetInventoryGroupTargetingValue"
                    }
                }
            }
        },
        "models.GetInventoryGroupTargetingValue":
        {
            "type": "object",
            "properties":
            {
                "createdDate":
                {
                    "description": "The date that the value was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "include":
                {
                    "description": "Indicates whether or not the value should be targeted based on inclusion or exclusion",
                    "type": "boolean",
                    "example": true
                },
                "isCustom":
                {
                    "description": "The status of the custom targeting key. </br>`true` = This is a custom key created by the publisher. It can be edited using any relevant routes.</br>`false`= This is a standard key created by Index. It can be associated with inventory groups but is otherwise read-only.",
                    "type": "boolean",
                    "example": false
                },
                "label":
                {
                    "description": "A user-friendly/descriptive representation of the key value.",
                    "type": "string",
                    "example": "Target Chrome users"
                },
                "modifiedDate":
                {
                    "description": "The date that the value was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "status":
                {
                    "description": "The **State** of the value which indicates its status, which could be **Active** or **Inactive**, where:</br>`A` = **Active** state. This means that the value is considered valid and can be associated to an Inventory Group.</br>`P`= **Inactive** state. This means that the value is not considerd valid to be associated to Inventory Groups, but existing associations are not removed.",
                    "type": "string",
                    "example": "A"
                },
                "targetingKeyID":
                {
                    "description": "The unique identifier for the targeting key.</br><b>Note</b>: A custom targeting key can also be identified uniquely by associating the `publisherID` with the `key`. For example, `281923`/`\"MyCustomTargetingkey\"`.",
                    "type": "integer",
                    "example": 456
                },
                "targetingValueID":
                {
                    "description": "The targetingValueID associated with this inventory group.",
                    "type": "integer",
                    "example": 123
                },
                "value":
                {
                    "description": "The name of the targeting value associated with a targeting key.",
                    "type": "string",
                    "example": "Chrome"
                }
            }
        },
        "models.GetInventoryGroups":
        {
            "type": "object",
            "properties":
            {
                "createdDate":
                {
                    "description": "The date that the inventory group was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "inventoryGroupID":
                {
                    "description": "The unique identifier of the inventory groups.",
                    "type": "integer",
                    "example": 123
                },
                "modifiedDate":
                {
                    "description": "The date that the inventory group was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "name":
                {
                    "description": "The name of the inventory group.",
                    "type": "string",
                    "example": "Example inventory group"
                },
                "publisherAccountID":
                {
                    "description": "The publisher account ID associated with the inventory group. To find the account ID, log in to your Index UI account. The account ID is displayed in the top-left corner of the page under the company name.",
                    "type": "integer",
                    "example": 12
                },
                "segmentTargetingSets":
                {
                    "description": "The list of segment targeting sets targeted by this `inventoryGroupID`. This field is only applicable to inventory groups of type `Deal Specific`.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.SegmentTargetingSet"
                    }
                },
                "sites":
                {
                    "description": "The list of sites associated with this `inventoryGroupID`.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.InventoryGroupSite"
                    }
                },
                "targeting":
                {
                    "description": "The targeting keys associated with this `inventoryGroupID`.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.GetInventoryGroupTargeting"
                    }
                },
                "targetingInternalDealIDs":
                {
                    "description": "The list of participant deal IDs targeted by this `inventoryGroupID`. This field is only applicable to inventory groups of type `Deal Specific`.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingPublisherIDs":
                {
                    "description": "The list of publisherIDs targeted by this `inventoryGroupID`. This field is only applicable to inventory groups of type `Deal Specific`.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingSchedules":
                {
                    "description": "The list of targeting schedules associated with this `inventoryGroupID`.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/schedules.TargetingSchedule"
                    }
                },
                "targetingSegmentIDs":
                {
                    "description": "The list of segmentIDs targeted by this `inventoryGroupID`. This field is only applicable to inventory groups of type `Deal Specific`.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "targetingSiteIDs":
                {
                    "description": "The list of sites targeted by this `inventoryGroupID`. This field is only applicable to inventory groups of type `Deal Specific`.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "type":
                {
                    "description": "The inventory group type to return, where:<br> `Deal Specific` = Inventory groups with deal-specific targeting used in the backend as a targeting association to a publisher deal <br> `General` = Inventory groups associated with site IDs. Used in publisher deals. <br> `List` = A targeting list of publisher IDs, Deal with Marketplaces IDs, or domains. Used in Marketplace Packages.",
                    "type": "string",
                    "example": "General"
                }
            }
        },
        "models.GetResponse":
        {
            "type": "object",
            "properties":
            {
                "data":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/repository.Site"
                    }
                },
                "totalCount":
                {
                    "description": "The total number of site IDs included in the response.",
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.IABCategory":
        {
            "type": "object",
            "properties":
            {
                "description":
                {
                    "description": "The name of the IAB category as defined in the [IAB OpenRTB 2.5 specification](https://www.iab.com/wp-content/uploads/2016/03/OpenRTB-API-Specification-Version-2-5-FINAL.pdf).",
                    "type": "string",
                    "example": "Hobbies & Interests"
                },
                "id":
                {
                    "description": "The IAB category ID as defined in the [IAB OpenRTB 2.5 specification](https://www.iab.com/wp-content/uploads/2016/03/OpenRTB-API-Specification-Version-2-5-FINAL.pdf).",
                    "type": "string",
                    "example": "IAB9"
                }
            }
        },
        "models.InventoryGroupSite":
        {
            "type": "object",
            "properties":
            {
                "name":
                {
                    "description": "The name of the site.",
                    "type": "string",
                    "example": "Placement"
                },
                "siteID":
                {
                    "description": "The unique identifier for the site.",
                    "type": "integer",
                    "example": 123
                }
            }
        },
        "models.InventoryGroupsGetResponse":
        {
            "type": "object",
            "properties":
            {
                "inventoryGroups":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.GetInventoryGroups"
                    }
                },
                "totalCount":
                {
                    "type": "integer"
                }
            }
        },
        "models.LegacyTargeting":
        {
            "type": "object",
            "properties":
            {
                "siteIDs":
                {
                    "description": "The site targeting this inventory group is associated with, note that this is a legacy targeting option and will be moved into general targeting in a future update",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "integer"
                    }
                },
                "sites":
                {
                    "description": "List of sites associated with the inventory group.",
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "$ref": "#/definitions/models.InventoryGroupSite"
                    }
                }
            }
        },
        "models.Macro":
        {
            "type": "object",
            "properties":
            {
                "description":
                {
                    "type": "string",
                    "example": "request timestamp"
                },
                "name":
                {
                    "type": "string",
                    "example": "TIMESTAMP"
                }
            }
        },
        "models.ManagedSignalGroup":
        {
            "type": "object",
            "properties":
            {
                "accountID":
                {
                    "description": "The account ID asociated with this signal group. </br><b>Note:</b> This is the ID assigned to the account in the Accounts DB in our Pithos database.",
                    "type": "integer",
                    "example": 123
                },
                "createdDate":
                {
                    "description": "The date that this signal group was created, in [timestamp format](https://mariadb.com/kb/en/timestamp/#:~:text=See%20Also-,Description,record%20is%20inserted%20or%20updated).",
                    "type": "string",
                    "example": "2024-02-25T13:49:10Z"
                },
                "description":
                {
                    "description": "A description for the signal group, which typically describes the signals it includes. For example, <code>\"Site and app content language group\"</code>.",
                    "type": "string",
                    "example": "Site and app content group"
                },
                "id":
                {
                    "description": "An ID representing this signal group. This ID is generated when you create a signal group.",
                    "type": "integer",
                    "example": 90210
                },
                "publisherID":
                {
                    "description": "The legacy publisher ID of the publisher account. To find the account ID, log in to the Index UI. The account ID is displayed in the top-left corner of the page under the company name.",
                    "type": "integer",
                    "example": 4567
                },
                "signals":
                {
                    "description": "A list of signals that are included in this signal group. For example, <code>\"site.content.language\", \"app.content.language\"</code>.",
                    "type": "array",
                    "items":
                    {
                        "type": "string"
                    }
                },
                "suppressed":
                {
                    "description": "Specifies if the signals in this signal group should be sent to DSPs. </br><code>true</code> = The signals will be sent </br><code>false</code> = The signals will not be sent",
                    "type": "boolean",
                    "example": true
                },
                "updatedDate":
                {
                    "description": "The date that this signal group was updated, in [timestamp format](https://mariadb.com/kb/en/timestamp/#:~:text=See%20Also-,Description,record%20is%20inserted%20or%20updated).",
                    "type": "string",
                    "example": "2024-02-31T19:00:00Z"
                },
                "username":
                {
                    "description": "The email address of the person who created the signal group.",
                    "type": "string",
                    "example": "user@useremail.com"
                }
            }
        },
        "models.ManagedSignalGroupsGetResponse":
        {
            "type": "object",
            "properties":
            {
                "groups":
                {
                    "description": "An array of objects representing the signal groups associated with this accountID.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.ManagedSignalGroup"
                    }
                },
                "totalCount":
                {
                    "description": "The total number of signal groups associated with this account.",
                    "type": "integer",
                    "example": 4
                }
            }
        },
        "models.ManagedSignalGroupsPostParams":
        {
            "type": "object",
            "required":
            [
                "accountID",
                "description",
                "signals"
            ],
            "properties":
            {
                "accountID":
                {
                    "description": "The account ID for which you want to retrieve signal groups data. </br><b>Note:</b> This is the ID assigned to the account in the Accounts DB in our Pithos database.",
                    "type": "integer",
                    "example": 123
                },
                "description":
                {
                    "description": "A description for the signal group, which typically describes the signals it includes. For example, <code>\"Site and app content language group\"</code>.",
                    "type": "string",
                    "example": "Site and app content group"
                },
                "signals":
                {
                    "description": "A list of OpenRTB content signals that you want to include in this signal group. Any signals you add should follow the same format as how they appear in OpenRTB object structure, for example <code>\"site.content.language\", \"app.content.language\"</code>.",
                    "type": "array",
                    "items":
                    {
                        "type": "string"
                    }
                },
                "suppressed":
                {
                    "description": "Specifies if the signals in this signal group should be sent to DSPs. </br><code>true</code> = The signals will be sent </br><code>false</code> = The signals will not be sent",
                    "type": "boolean",
                    "example": true
                },
                "username":
                {
                    "description": "The email address of the person who created the signal group.",
                    "type": "string",
                    "example": "user@useremail.com"
                }
            }
        },
        "models.ManagedSignalGroupsPostResponse":
        {
            "type": "object",
            "properties":
            {
                "id":
                {
                    "description": "The ID representing this signal group. This is the ID you will use as the <code>groupID</code> if you need to update a signal group.",
                    "type": "integer",
                    "example": 90210
                }
            }
        },
        "models.ManagedSignalGroupsPutParams":
        {
            "type": "object",
            "required":
            [
                "description",
                "signals"
            ],
            "properties":
            {
                "description":
                {
                    "description": "A description for the signal group, which typically describes the signals it includes. For example, <code>\"Site and app content language group\"</code>.",
                    "type": "string",
                    "example": "new group"
                },
                "signals":
                {
                    "description": "A list of signals that you want to include in this signal group. Any signals you add should follow the same format as how they appear in OpenRTB object structure, for example <code>\"site.content.language\", \"app.content.language\"</code>.",
                    "type": "array",
                    "items":
                    {
                        "type": "string"
                    }
                },
                "suppressed":
                {
                    "description": "Specifies if the signals in this signal group should be sent to DSPs. </br><code>true</code> = The signals will be sent </br><code>false</code> = The signals will not be sent",
                    "type": "boolean",
                    "example": true
                },
                "username":
                {
                    "description": "The email address of the person who created the signal group.",
                    "type": "string",
                    "example": "user@useremail.com"
                }
            }
        },
        "models.Override":
        {
            "type": "object",
            "properties":
            {
                "accountID":
                {
                    "description": "The account ID for which the override was applied. </br><b>Note:</b> This is the ID assigned to the account in the Accounts DB in our Pithos database.",
                    "type": "integer",
                    "example": 34567
                },
                "createdDate":
                {
                    "description": "The date that the signal override was created,in [timestamp format](https://mariadb.com/kb/en/timestamp/#:~:text=See%20Also-,Description,record%20is%20inserted%20or%20updated).",
                    "type": "string",
                    "example": "2024-02-25T13:49:10Z"
                },
                "id":
                {
                    "description": "The Index generated ID for the override.",
                    "type": "integer",
                    "example": 123
                },
                "publisherID":
                {
                    "description": "The Viper2 ID of the publisher account. To find the account ID, log in to the Index UI. The account ID is displayed in the top-left corner of the page under the company name.",
                    "type": "integer",
                    "example": 12345
                },
                "signalIdentifier":
                {
                    "description": "The OpenRTB `content` signal. Signal identifiers are in the same format as how they appear in OpenRTB object structure. Currently, only signals included in the `content` object are supported.",
                    "type": "string",
                    "example": "site.content.language"
                },
                "useIdentifier":
                {
                    "description": "The purpose for which this override is being used. Currently, only `deal_targeting` is supported, which means that you can target the signal in a deal even when it is suppressed at the signal group level.",
                    "type": "string",
                    "example": "deal_targeting"
                },
                "useTargeting":
                {
                    "description": "The class ID for the deal to which the signal override was applied.",
                    "allOf":
                    [
                        {
                            "$ref": "#/definitions/models.UseTargeting"
                        }
                    ]
                }
            }
        },
        "models.OverridePostParams":
        {
            "type": "object",
            "required":
            [
                "groupID",
                "signalIdentifier",
                "useIdentifier"
            ],
            "properties":
            {
                "groupID":
                {
                    "description": "The ID of the signal group that you would like to override. This is the same as the id you received when you created the signal group. To get the `groupID`, run the [List signal groups](/managedsignalgroupsget) route. The `id` in the response is the signal group ID.",
                    "type": "integer",
                    "example": 90210
                },
                "signalIdentifier":
                {
                    "description": "The OpenRTB `content` signal. Signal identifiers should follow the same format as how they appear in OpenRTB object structure, for example \"site.content.language\". currently, only signals included in the `content` object are supported.",
                    "type": "string",
                    "example": "content.series"
                },
                "useIdentifier":
                {
                    "description": "The purpose for which this override is being used. Currently, only `deal_targeting` is supported, which means that you can target the signal in a deal even when it is suppressed at the signal group level.",
                    "type": "string",
                    "enum":
                    [
                        "deal_targeting"
                    ],
                    "example": "deal_targeting"
                },
                "useTargeting":
                {
                    "description": "The deal targeting criteria.",
                    "allOf":
                    [
                        {
                            "$ref": "#/definitions/models.UseTargeting"
                        }
                    ]
                }
            }
        },
        "models.OverridesGetResponse":
        {
            "type": "object",
            "properties":
            {
                "overrides":
                {
                    "description": "An array of override objects, each representing an exception to a signal group.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.Override"
                    }
                },
                "totalCount":
                {
                    "description": "The total number of overrides that have been applied.",
                    "type": "integer",
                    "example": 10
                }
            }
        },
        "models.Pixel":
        {
            "type": "object",
            "properties":
            {
                "accountID":
                {
                    "type": "integer",
                    "example": 2
                },
                "createdDate":
                {
                    "type": "string",
                    "example": "2024-04-01 10:00:00"
                },
                "id":
                {
                    "type": "integer",
                    "example": 1
                },
                "name":
                {
                    "type": "string",
                    "example": "pixel abc"
                },
                "publisherID":
                {
                    "type": "integer",
                    "example": 3
                },
                "status":
                {
                    "type": "string",
                    "enum":
                    [
                        "active",
                        "deactivated"
                    ],
                    "example": "active"
                },
                "updatedDate":
                {
                    "type": "string",
                    "example": "2024-04-01 10:00:00"
                },
                "url":
                {
                    "type": "string",
                    "example": "https://pixel.com"
                },
                "username":
                {
                    "type": "string",
                    "example": "someuser@example.com"
                }
            }
        },
        "models.PixelCreateParams":
        {
            "type": "object",
            "required":
            [
                "accountID",
                "name",
                "url"
            ],
            "properties":
            {
                "accountID":
                {
                    "type": "integer",
                    "example": 1
                },
                "name":
                {
                    "type": "string",
                    "minLength": 1,
                    "example": "pixel 1"
                },
                "url":
                {
                    "type": "string",
                    "example": "https://pixel.com"
                },
                "username":
                {
                    "type": "string"
                }
            }
        },
        "models.PixelCreateResponse":
        {
            "type": "object",
            "properties":
            {
                "id":
                {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.PixelMacrosGetResponse":
        {
            "type": "object",
            "properties":
            {
                "macros":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.Macro"
                    }
                },
                "totalCount":
                {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.PixelUpdateParams":
        {
            "type": "object",
            "properties":
            {
                "name":
                {
                    "type": "string",
                    "example": "pixel 1"
                },
                "url":
                {
                    "type": "string",
                    "example": "https://pixel.com"
                },
                "username":
                {
                    "type": "string"
                }
            }
        },
        "models.PixelsGetResponse":
        {
            "type": "object",
            "properties":
            {
                "pixels":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.Pixel"
                    }
                },
                "totalCount":
                {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.PostParams":
        {
            "type": "object",
            "required":
            [
                "hasUserDataCollection",
                "iabCategoryID",
                "isCoppaCompliant",
                "name",
                "publisherAccountID"
            ],
            "properties":
            {
                "description":
                {
                    "description": "The description for the site ID, which typically describes its purpose.",
                    "type": "string",
                    "example": "Test site"
                },
                "hasUserDataCollection":
                {
                    "description": "**DV360's In-Market & Affinity Audiences** option for the site ID which allows publishers to participate in Google Audience targeting. The options are:</br>`true` =  the option is turned on for the site ID. </br>`false` = the option is turned off for the site ID.",
                    "type": "boolean",
                    "example": true
                },
                "iabCategoryID":
                {
                    "description": "The IAB category ID that is applicable to the site ID as defined in the [IAB OpenRTB 2.5 specification](https://www.iab.com/wp-content/uploads/2016/03/OpenRTB-API-Specification-Version-2-5-FINAL.pdf).",
                    "type": "string",
                    "example": "IAB9-5"
                },
                "isActive":
                {
                    "description": "The state of the site ID which indicates its status, where:</br>`true` = active state. This means that the site ID is eligible to transact on the exchange.</br>`false`= paused state. This means that the site ID is not eligible to transact on the exchange.",
                    "type": "boolean",
                    "example": false
                },
                "isCoppaCompliant":
                {
                    "description": "The compliance state of the site ID with the Children's Online Privacy Protection Act (COPPA), where: </br>`true` = COPPA compliant </br>`false` = not COPPA compliant",
                    "type": "boolean",
                    "example": true
                },
                "name":
                {
                    "description": "The name of the site ID. The name is limited to 255 characters and can contain alphanumeric characters.",
                    "type": "string",
                    "example": "ABCpublisher|desktop|bottom|300x50"
                },
                "publisherAccountID":
                {
                    "description": "The account ID for the publisher account. To find the account ID, log in to the Index UI. The account ID is displayed in the top-left corner of the page under the company name.",
                    "type": "integer",
                    "example": 99900
                }
            }
        },
        "models.PostResponse":
        {
            "type": "object",
            "required":
            [
                "publisherAccountID",
                "siteID"
            ],
            "properties":
            {
                "publisherAccountID":
                {
                    "description": "The account ID of the publisher account. The ID is stored in the Viper2 database and displays in the Index UI when the publisher logs in.",
                    "type": "integer",
                    "example": 99900
                },
                "siteID":
                {
                    "description": "The site ID. The site ID is stored in the Viper2 database and displays in the Index UI in the **Inventory > Site ID** screen.",
                    "type": "integer",
                    "example": 456
                }
            }
        },
        "models.PostUpdateIsActiveRequest":
        {
            "type": "object",
            "required":
            [
                "siteIDs"
            ],
            "properties":
            {
                "isActive":
                {
                    "description": "The state of the site ID, where:</br>`true` = active state. This means that the site ID is eligible to transact on the exchange. </br>`false`= paused state. This means that the site ID is not eligible to transact on the exchange.",
                    "type": "boolean",
                    "example": false
                },
                "siteIDs":
                {
                    "description": "The site IDs that you want to update. To find the site IDs, run the [List site IDs](https://api1.indexexchange.com/api1/reference/sitesget) route. The `siteID` field in the response is the ID that you require.",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    },
                    "example":
                    [
                        99900
                    ]
                }
            }
        },
        "models.ReportableKV":
        {
            "type": "object",
            "properties":
            {
                "keyID":
                {
                    "type": "integer"
                },
                "keyName":
                {
                    "type": "string"
                },
                "location":
                {
                    "type": "string"
                },
                "publisherID":
                {
                    "type": "integer"
                },
                "value":
                {
                    "type": "string"
                },
                "valueID":
                {
                    "type": "integer"
                }
            }
        },
        "models.ReportableKVsGetResponse":
        {
            "type": "object",
            "properties":
            {
                "kvs":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.ReportableKV"
                    }
                },
                "totalCount":
                {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.ReportableKVsUpdateParams":
        {
            "type": "object",
            "required":
            [
                "values"
            ],
            "properties":
            {
                "values":
                {
                    "type": "array",
                    "minItems": 1,
                    "items":
                    {
                        "type": "integer"
                    }
                }
            }
        },
        "models.SSPConfigurationGetResponse":
        {
            "type": "object",
            "properties":
            {
                "value":
                {
                    "type": "string"
                }
            }
        },
        "models.SSPConfigurationPutBody":
        {
            "type": "object",
            "properties":
            {
                "value":
                {
                    "type": "string"
                }
            }
        },
        "models.SSPConfigurationPutResponse":
        {
            "type": "object"
        },
        "models.SegmentTarget":
        {
            "type": "object",
            "required":
            [
                "id"
            ],
            "properties":
            {
                "id":
                {
                    "type": "integer",
                    "minimum": 1,
                    "example": 123
                },
                "name":
                {
                    "type": "string",
                    "example": "best segment ever"
                }
            }
        },
        "models.SegmentTargetingSet":
        {
            "type": "object",
            "required":
            [
                "operator",
                "segmentTargets"
            ],
            "properties":
            {
                "operator":
                {
                    "type": "string",
                    "enum":
                    [
                        "ANY_OF",
                        "NONE_OF"
                    ],
                    "example": "ANY_OF"
                },
                "segmentTargets":
                {
                    "type": "array",
                    "uniqueItems": true,
                    "items":
                    {
                        "$ref": "#/definitions/models.SegmentTarget"
                    }
                }
            }
        },
        "models.Signal":
        {
            "type": "object",
            "properties":
            {
                "createdDate":
                {
                    "description": "The date that this signal was added, in [timestamp format](https://mariadb.com/kb/en/timestamp/#:~:text=See%20Also-,Description,record%20is%20inserted%20or%20updated).",
                    "type": "string",
                    "example": "2024-02-25T13:49:10Z"
                },
                "description":
                {
                    "description": "A description for the signal that makes it easy to identify. For example, <code>\"Site content language\"</code>.",
                    "type": "string",
                    "example": "Site content language"
                },
                "identifier":
                {
                    "description": "The OpenRTB content signal. Signal identifiers should follow the same format as how they appear in OpenRTB object structure, for example <code>\"site.content.language\"</code>.",
                    "type": "string",
                    "example": "site.content.language"
                },
                "updatedDate":
                {
                    "description": "The date that this signal was edited, in [timestamp format](https://mariadb.com/kb/en/timestamp/#:~:text=See%20Also-,Description,record%20is%20inserted%20or%20updated).",
                    "type": "string",
                    "example": "2024-02-31T19:00:00Z"
                },
                "username":
                {
                    "description": "The email address of the person who created the signal group.",
                    "type": "string",
                    "example": "user@useremail.com"
                }
            }
        },
        "models.SignalsGetResponse":
        {
            "type": "object",
            "properties":
            {
                "signals":
                {
                    "description": "An array of signal objects, each representing a signal that has been added.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.Signal"
                    }
                },
                "totalCount":
                {
                    "description": "The total number of signals that have been added to the Signal Management API.",
                    "type": "integer",
                    "example": 10
                }
            }
        },
        "models.SignalsPostParams":
        {
            "type": "object",
            "required":
            [
                "description",
                "identifier"
            ],
            "properties":
            {
                "description":
                {
                    "description": "A description for the signal that makes it easy to identify. For example, <code>\"Site content language\"</code>.",
                    "type": "string",
                    "example": "Site content language"
                },
                "identifier":
                {
                    "description": "The OpenRTB content signal. Signal identifiers should follow the same format as how they appear in OpenRTB object structure, for example <code>\"site.content.language\"</code>.",
                    "type": "string",
                    "example": "site.content.language"
                },
                "username":
                {
                    "description": "The email address of the person who created the signal group.",
                    "type": "string",
                    "example": "user@useremail.com"
                }
            }
        },
        "models.SignalsPutParams":
        {
            "type": "object",
            "required":
            [
                "description"
            ],
            "properties":
            {
                "description":
                {
                    "description": "A description for the signal that makes it easy to identify. For example, <code>\"Site content language\"</code>.",
                    "type": "string",
                    "example": "Site content language"
                },
                "username":
                {
                    "description": "The email address of the person who created the signal group.",
                    "type": "string",
                    "example": "user@useremail.com"
                }
            }
        },
        "models.Site":
        {
            "type": "object",
            "properties":
            {
                "createdDate":
                {
                    "description": "The date that the site ID was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-01"
                },
                "description":
                {
                    "description": "The description of the site ID, which typically describes its purpose.",
                    "type": "string",
                    "example": "Test site"
                },
                "hasUserDataCollection":
                {
                    "description": "**DV360's In-Market & Affinity Audiences** option for the site ID which allows publishers to participate in Google Audience targeting. The options are:</br>`true` =  the option is turned on for the site ID. </br>`false` = the option is turned off for the site ID.",
                    "type": "boolean",
                    "example": true
                },
                "iabCategory":
                {
                    "$ref": "#/definitions/models.IABCategory"
                },
                "isActive":
                {
                    "description": "The current state of the site ID, where:</br>`true` = active state. This means that the site ID is eligible to transact on the exchange.</br>`false`= paused state. This means that the site ID is not eligible to transact on the exchange.",
                    "type": "boolean",
                    "example": true
                },
                "isCoppaCompliant":
                {
                    "description": "The site ID compliance with the Children's Online Privacy Protection Act (COPPA), where:</br>`true` = COPPA compliant. </br>`false` = not COPPA compliant.",
                    "type": "boolean",
                    "example": true
                },
                "name":
                {
                    "description": "The name of the site ID.",
                    "type": "string",
                    "example": "ABCpublisher|desktop|bottom|300x50"
                },
                "publisherAccountID":
                {
                    "description": "The account ID of the publisher account. The ID is stored in the Viper2 database and displays in the Index UI when the publisher logs in.",
                    "type": "integer",
                    "example": 10012
                },
                "siteID":
                {
                    "description": "The site ID. The site ID is stored in the Viper2 database and displays in the Index UI in the **Inventory > Site ID** screen.",
                    "type": "integer",
                    "example": 123
                }
            }
        },
        "models.TargetingKey":
        {
            "type": "object",
            "properties":
            {
                "allowCustomValues":
                {
                    "description": "Custom targeting values can be created for a targeting key, where:</br>`true`= custom targeting values can be created. If custom targeting keys are being created, this should always be set to `true`.</br>`false`= custom targeting values cannot be created.",
                    "type": "boolean"
                },
                "createdDate":
                {
                    "description": "The date that the key was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-01"
                },
                "description":
                {
                    "description": "The description for the targeting key.",
                    "type": "string",
                    "example": "Targeting key for browser"
                },
                "isCustom":
                {
                    "description": "The status of the custom targeting key. </br>`true` = This is a custom key created by the publisher or Marketplace Partner. It can be edited using any relevant routes.</br>`false`= This is a standard key created by Index. It can be associated with inventory groups but is otherwise read-only.",
                    "type": "boolean"
                },
                "key":
                {
                    "description": "The name of the custom or standard targeting key.",
                    "type": "string",
                    "example": "Browser"
                },
                "locationID":
                {
                    "description": "Information about the corresponding targeting location associated with a targeting key.",
                    "type": "integer"
                },
                "modifiedDate":
                {
                    "description": "The date that the key was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-05"
                },
                "publisherID":
                {
                    "description": "The account ID, either publisher acount ID or Marketplace Partner account ID, associated with the inventory group.",
                    "type": "integer",
                    "example": 10012
                },
                "status":
                {
                    "description": "The status of the targeting key, where:</br>`A` = an active targeting key that can be associated with an inventory group.</br>`P`= an inactive targeting key that cannot be associated with an inventory group.</br><b>Note</b>: If an inactive targeting key was previously associated with an inventory group, the existing association will remain and not be removed. This means that if the inactive targeting key becomes active, the inventory group will also have this active targeting key associated with it.",
                    "type": "string",
                    "enum":
                    [
                        "A",
                        "P"
                    ],
                    "example": "A"
                },
                "targetingKeyActivationTypeID":
                {
                    "description": "The identifier representing which targeting key activation type is required. </br>`1` = Inclusion Only.</br>`2` = Inclusion or Exclusion.</br>`3` = Inclusion and Exclusion",
                    "type": "integer",
                    "example": 1
                },
                "targetingKeyID":
                {
                    "description": "The unique identifier for the targeting key.</br><b>Note</b>: A custom targeting key can also be identified uniquely by associating the `publisherID` with the `key`. For example, `281923`/`\"MyCustomTargetingkey\"`.",
                    "type": "integer",
                    "example": 123
                },
                "values":
                {
                    "description": "Information about the corresponding targeting values associated with a targeting key.",
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.TargetingValue"
                    }
                }
            }
        },
        "models.TargetingKeyGetResponse":
        {
            "type": "object",
            "properties":
            {
                "data":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.TargetingKeyResponse"
                    }
                }
            }
        },
        "models.TargetingKeyPutBody":
        {
            "type": "object",
            "required":
            [
                "key"
            ],
            "properties":
            {
                "allowCustomValues":
                {
                    "description": "Custom targeting values can be created for a targeting key, where:</br>`true`= custom targeting values can be created. If custom targeting keys are being created, this should always be set to `true`.</br>`false`= custom targeting values cannot be created.</br>By default, this is always set to `true`.",
                    "type": "boolean",
                    "x-nullable": true,
                    "example": true
                },
                "description":
                {
                    "description": "The description for the targeting key.",
                    "type": "string",
                    "example": "Type of browser"
                },
                "key":
                {
                    "description": "The name of the targeting key that best describes the key that you are creating. There are two types of targeting keys that you can create:</br><b>Standard targeting key</b>: created by internal Indexers and available for all publishers to use. To get a list of standard targeting keys, run the [List targeting keys](targetingkeyget) route. Standard targeting keys should have `isCustom` set to `false`.</br><b>Custom targeting key</b>: created by internal Indexers on behalf of a publisher who wants to target a specific key for an inventory group that is not available in the standard targeting keys that Index Exchange (Index) provides. If creating a custom targeting key, make sure that `allowCustomValues` is set to `true`.",
                    "type": "string",
                    "example": "Browser"
                },
                "location":
                {
                    "description": "The location of the origin of the targeting key",
                    "type": "string",
                    "example": "site.ext.data"
                },
                "publisherAccountID":
                {
                    "description": "If you are creating a custom targeting key on behalf of a publisher or Marketplace Partner, you must specify the account ID. To get the account ID, log in to the Index UI. The account ID is displayed in the top-left corner of the page under the company name.</br>If you are creating a standard targeting key that will be available for all publishers, you do not need to specify a publisher's account ID.",
                    "type": "integer",
                    "example": 10012
                },
                "targetingKeyActivationTypeID":
                {
                    "description": "The identifier representing which targeting key activation type is required. </br>`1` = Inclusion Only.</br>`2` = Inclusion or Exclusion.</br>`3` = Inclusion and Exclusion",
                    "type": "integer",
                    "maximum": 3,
                    "example": 1
                }
            }
        },
        "models.TargetingKeyPutResponse":
        {
            "type": "object",
            "properties":
            {
                "targetingKeyID":
                {
                    "description": "The ID of the targeting key that you created.",
                    "type": "integer",
                    "example": 1234
                }
            }
        },
        "models.TargetingKeyResponse":
        {
            "type": "object",
            "properties":
            {
                "allowCustomValues":
                {
                    "description": "Custom targeting values can be created for a targeting key, where:</br>`true`= custom targeting values can be created. If custom targeting keys are being created, this should always be set to `true`.</br>`false`= custom targeting values cannot be created.",
                    "type": "boolean"
                },
                "createdDate":
                {
                    "description": "The date that the key was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-01"
                },
                "description":
                {
                    "description": "The description for the targeting key.",
                    "type": "string",
                    "example": "Targeting key for browser"
                },
                "isCustom":
                {
                    "description": "The status of the custom targeting key. </br>`true` = This is a custom key created by the publisher or Marketplace Partner. It can be edited using any relevant routes.</br>`false`= This is a standard key created by Index. It can be associated with inventory groups but is otherwise read-only.",
                    "type": "boolean"
                },
                "key":
                {
                    "description": "The name of the custom or standard targeting key.",
                    "type": "string",
                    "example": "Browser"
                },
                "locationID":
                {
                    "description": "Information about the corresponding targeting location associated with a targeting key.",
                    "type": "integer"
                },
                "modifiedDate":
                {
                    "description": "The date that the key was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-05"
                },
                "publisherID":
                {
                    "description": "The account ID, either publisher or Marketplace Partner associated with the inventory group.",
                    "type": "integer",
                    "example": 10012
                },
                "status":
                {
                    "description": "The status of the targeting key, where:</br>`A` = an active targeting key that can be associated with an inventory group.</br>`P`= an inactive targeting key that cannot be associated with an inventory group.</br><b>Note</b>: If an inactive targeting key was previously associated with an inventory group, the existing association will remain and not be removed. This means that if the inactive targeting key becomes active, the inventory group will also have this active targeting key associated with it.",
                    "type": "string",
                    "enum":
                    [
                        "A",
                        "P"
                    ],
                    "example": "A"
                },
                "targetingKeyActivationTypeID":
                {
                    "description": "The identifier representing which targeting key activation type is required. </br>`1` = Inclusion Only.</br>`2` = Inclusion or Exclusion.</br>`3` = Inclusion and Exclusion",
                    "type": "integer",
                    "example": 1
                },
                "targetingKeyID":
                {
                    "description": "The unique identifier for the targeting key.</br><b>Note</b>: A custom targeting key can also be identified uniquely by associating the `publisherID` with the `key`. For example, `281923`/`\"MyCustomTargetingkey\"`.",
                    "type": "integer",
                    "example": 123
                }
            }
        },
        "models.TargetingType":
        {
            "type": "string",
            "enum":
            [
                "standard",
                "custom"
            ],
            "x-enum-varnames":
            [
                "StandardTargetingType",
                "CustomTargetingType"
            ]
        },
        "models.TargetingValue":
        {
            "type": "object",
            "properties":
            {
                "createdDate":
                {
                    "description": "The date that the value was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-01"
                },
                "generalizedTargetingID":
                {
                    "description": "The targeting solution ID",
                    "type": "integer",
                    "example": 789
                },
                "inventoryGroupTargetingMappingTypeID":
                {
                    "description": "The inventory group targeting mapping type identifier associated with this targeting value. For example, `987`.",
                    "type": "integer",
                    "example": 987
                },
                "isCustom":
                {
                    "description": "The status of the custom targeting key. </br>`true` = This is a custom key created by the publisher or Marketplace Partner. It can be edited using any relevant routes.</br>`false`= This is a standard key created by Index. It can be associated with inventory groups but is otherwise read-only.",
                    "type": "boolean",
                    "example": false
                },
                "label":
                {
                    "description": "The description for the targeting value.",
                    "type": "string",
                    "example": "Type of browser"
                },
                "modifiedDate":
                {
                    "description": "The date that the value was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2020-01-05"
                },
                "publisherID":
                {
                    "description": "The account ID associated with this targeting value.",
                    "type": "integer",
                    "example": 382
                },
                "status":
                {
                    "description": "The status of the targeting value, where:</br>`A` = active targeting value that can be associated with an inventory group.</br>`P`= inactive targeting value that cannot be associated with an inventory group.</br><b>Note</b>: If an inactive targeting value was previously associated with an inventory group, the existing association will remain and not be removed. This means that if the inactive targeting value becomes active, the inventory group will also have this active targeting value associated with it.</br>If no status is specified, by default, only active targeting values with a status of `A` are returned.",
                    "type": "string",
                    "enum":
                    [
                        "A",
                        "P"
                    ],
                    "example": "A"
                },
                "targetingKeyID":
                {
                    "description": "The unique identifier for the targeting key.</br><b>Note</b>: A custom targeting key can also be identified uniquely by associating the `publisherID` with the `key`. For example, `281923`/`\"MyCustomTargetingkey\"`.",
                    "type": "integer",
                    "example": 456
                },
                "targetingValueID":
                {
                    "description": "The unique identifier for the targeting value.",
                    "type": "integer",
                    "example": 123
                },
                "value":
                {
                    "description": "The name of the targeting value associated with a targeting key.",
                    "type": "string",
                    "example": "Chrome"
                }
            }
        },
        "models.TargetingValueAlias":
        {
            "type": "object",
            "properties":
            {
                "aliasValue":
                {
                    "description": "The value of the targeting value alias associated with a targeting value ID.",
                    "type": "string",
                    "example": "Chrome"
                },
                "createdDate":
                {
                    "description": "The date that the value was created in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-01"
                },
                "id":
                {
                    "description": "The unique ID of the targeting alias",
                    "type": "integer",
                    "example": 123
                },
                "modifiedDate":
                {
                    "description": "The date that the value was last modified in [ISO 8601 YYYY-MM-DD](https://www.ionos.ca/digitalguide/websites/web-development/iso-8601/) format.",
                    "type": "string",
                    "example": "2022-01-05"
                },
                "status":
                {
                    "description": "The status of the targeting value, where:</br>`A` = active targeting value that can be associated with an inventory group.</br>`P`= inactive targeting value that cannot be associated with an inventory group.</br><b>Note</b>: If an inactive targeting value was previously associated with an inventory group, the existing association will remain and not be removed. This means that if the inactive targeting value becomes active, the inventory group will also have this active targeting value associated with it.</br>If no status is specified, by default, only active targeting values with a status of `A` are returned.",
                    "type": "string",
                    "enum":
                    [
                        "A",
                        "P"
                    ],
                    "example": "A"
                },
                "targetingValueID":
                {
                    "description": "The unique identifier for the targeting value.s",
                    "type": "integer",
                    "example": 123
                }
            }
        },
        "models.TargetingValueAliasesGetResponse":
        {
            "type": "object",
            "properties":
            {
                "targetingValueAliases":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.TargetingValueAlias"
                    }
                },
                "totalCount":
                {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.TargetingValueAliasesPut":
        {
            "type": "object",
            "required":
            [
                "valueAlias",
                "valueID"
            ],
            "properties":
            {
                "valueAlias":
                {
                    "type": "string",
                    "maxLength": 255,
                    "example": "some aliases"
                },
                "valueID":
                {
                    "type": "integer",
                    "example": 123
                }
            }
        },
        "models.TargetingValueDomainPutBody":
        {
            "type": "object",
            "required":
            [
                "domains"
            ],
            "properties":
            {
                "domains":
                {
                    "type": "array",
                    "maxItems": 10000,
                    "uniqueItems": true,
                    "items":
                    {
                        "type": "string"
                    }
                }
            }
        },
        "models.TargetingValueID":
        {
            "type": "object",
            "properties":
            {
                "valueID":
                {
                    "type": "integer",
                    "example": 123
                }
            }
        },
        "models.TargetingValuePutBody":
        {
            "type": "object",
            "required":
            [
                "label",
                "value"
            ],
            "properties":
            {
                "label":
                {
                    "description": "A user-friendly descriptive representation of the value.'",
                    "type": "string",
                    "example": "Target Chrome users"
                },
                "publisherAccountID":
                {
                    "description": "The account ID, either a publisher account ID or Marketplace account ID, associated with the inventory group.",
                    "type": "integer",
                    "example": 10012
                },
                "value":
                {
                    "description": "A single targeting value associated with a targeting key ID.",
                    "type": "string",
                    "example": "Chrome"
                }
            }
        },
        "models.TargetingValuePutResponse":
        {
            "type": "object",
            "properties":
            {
                "targetingKeyID":
                {
                    "description": "The unique identifier for the targeting key.</br><b>Note</b>: A custom targeting key can also be identified uniquely by associating the `publisherID` with the `key`. For example, `281923`/`\"MyCustomTargetingkey\"`.",
                    "type": "integer",
                    "example": 1234
                },
                "targetingValueIDs":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.TargetingValueID"
                    }
                }
            }
        },
        "models.TargetingValuesGetResponse":
        {
            "type": "object",
            "properties":
            {
                "data":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.TargetingValue"
                    }
                }
            }
        },
        "models.TargetingValuesPostForGetParams":
        {
            "type": "object",
            "required":
            [
                "pageSize",
                "publisherAccountID"
            ],
            "properties":
            {
                "includeStatus":
                {
                    "description": "The status of the targeting key, where:</br>`A` = an active targeting key that is associated with an inventory group.</br>`P`= an inactive targeting key that is not actively being used but could still be associated with an inventory group.</br><b>Note</b>: If an inactive targeting key was previously associated with an inventory group, the existing association will remain and not be removed. This means that if the inactive targeting key becomes active, the inventory group will also have this active targeting key associated with it. By default, only active keys are returned.",
                    "type": "array",
                    "items":
                    {
                        "type": "string"
                    },
                    "example":
                    [
                        "A"
                    ]
                },
                "pageOffset":
                {
                    "description": "The number of pages to omit from the result.This field is used along with the `pageSize` field. For example, if `pageSize` is 20 and there are 10 pages in total, you can set `pageOffset` to 5 to display records 101-120 on page five. If you do not specify a `pageSize`, the `pageOffset` is set to **0** by default.",
                    "type": "integer"
                },
                "pageSize":
                {
                    "description": "The maximum number of results that you want to see on a page between 1-10000.",
                    "type": "integer",
                    "maximum": 10000
                },
                "publisherAccountID":
                {
                    "description": "The account ID, either a publisher account ID or Marketplace account ID, associated with the inventory group.",
                    "type": "integer",
                    "example": 10012
                },
                "valueIDs":
                {
                    "description": "Limits the returned results to the valueIDs specified. If extra IDs are provided that do not belong to this key, they will not be included in the response (example:\"[123,456]\")",
                    "type": "array",
                    "items":
                    {
                        "type": "integer"
                    }
                }
            }
        },
        "models.TargetingValuesPostResponse":
        {
            "type": "object",
            "properties":
            {
                "data":
                {
                    "type": "array",
                    "items":
                    {
                        "$ref": "#/definitions/models.TargetingValue"
                    }
                },
                "totalCount":
                {
                    "type": "integer"
                }
            }
        },
        "models.UseTargeting":
        {
            "type": "object",
            "properties":
            {
                "dealTargeting":
                {
                    "$ref": "#/definitions/models.DealTargeting"
                }
            }
        },
        "models.V2CreateInventoryGroupRequest":
        {
[...]
